.welcome-page-content {
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.kidologo {
  padding-top: 10%;
  background-image: url("/assets/kidologo.png");
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;

}

.welcome-page-content h1 {

  color: white;
  text-align: center;
  margin-bottom: 4%;
}


.content-text {

  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 6%;

}

.sign-up-button-class {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

}

.signup-button {

  padding: 10px 50px;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #735EBB;

}

.bottom-content-text {

  margin-bottom: 10.7%;
  text-align: center;
  color: white;
}

